/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Raleway', sans-serif; */
* {
    box-sizing: border-box;
}

section {
    margin: 20px auto;
    width: 90%;
    min-width: 650px;
    justify-content: center;
}

.horny-animal {
    border: solid 5px black;
    list-style: none;
    justify-content: space-around;
    border-radius: 10%;
    max-width: 20%;
    max-height: 30%;
    padding: 10px;
}

img {
    max-width: 200px;
    max-height: 500px;
}